.Card{
    box-sizing: content-box; 
    width: 350px; margin: 0 auto; 
    height: 1000px; 
    background-color:white; 
    border:10px solid white; 
    border-radius:20px;
    text-align: center;
    flex: content;
}
.head{
    box-sizing: content-box; 
    width: 100%;
    text-align: center;
}
.title{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%; 
    font-size:24px; 
    font-weight:bold; 
    text-align: center; 
    position: relative;
    flex: content;
}
.QR{
    font-weight:bold; 
    font-size: 24px; 
    margin-bottom: 15px; 
    margin-left: 10px; 
    margin-top: 10px;
    text-align: center;
}
.scansub{
    margin: 0 auto; 
    text-align:center; 
    margin-top:60px;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
}
.scansubsub{
    margin: 0 auto; 
    text-align:center; 
    margin-top: 8px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    color:grey;
}
img{
    width:200px;
    height: 200px;
    margin-left: 100px;
    margin-top: 50px;
    box-sizing: border-box;
    border:3px solid orange;
    border-radius: 15px;
    padding: 5px;
}
.price{
    font-weight:lighter; 
    font-size: 24px; 
    margin-right: 10px; 
}
.line{
    display: inline-block;
}
.button{
    background-color: white;
    width: 30%;
    height: 40px;
    border: none;
    margin-left: 13px;
    
}
.buttonn{
    background-color: white;
    width: 100px;
    height: 40px;
    border: none;
    margin-left: 13px;
    
}
.Cardd{
    box-sizing: content-box; 
    align-items: center;
    width: 300px; margin: 0 auto; 
    height: 350px; 
    background-color:white; 
    border:10px solid white; 
    border-radius:20px;
}
.button:hover{
    color: salmon;
    width: 30%;
    height: 40px;
    border: none;
    margin-left: 13px;
    
}

.buttonn:hover{
    color: salmon;
    width: 100px;
    height: 40px;
    border: none;
    margin-left: 13px;
    
}

